@font-face {
	font-family: "DejaVuSansMono";
	src: url('.../font/ttf/DejaVuSansMono.ttf');
} 

@font-face {
	font-family: "DejaVuSans";
	src: url('.../font/ttf/DejaVuSans.ttf');
} 

@font-face {
	font-family: "DejaVuSerif";
	src: url('.../font/ttf/DejaVuSerif.ttf');
} 

.nav ul{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#container
{
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;    
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}


.margin-left {
	margin-left: 30px;
}

.margin-bottom {
	margin-bottom: 100px;
}

.bg {
	background-color:"#444444";
	background-image:url(img/darknoise.png);
	background-repeat:repeat;
}

html {
	background-color:"#444444";
}

h1 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
	font-size: 72px;
}

h2 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
	font-size: 48px;
}

h3 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
}

h4 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
}

h5 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
}

h6 {
	font-family: "DejaVuSansMono", "DejaVuSerif", Verdana, Arial, serif;
}

body {
	font-family: "DejaVuSansMono", Verdana, Arial, serif;
	font-size: 16px;
	letter-spacing: 0px;
}

script {
	font-family: "DejaVuSansMono", Verdana, Arial, serif;
	font-size: 16px;
	letter-spacing: 0px;
}


p {
	font-family: Helvetica;
	font-size: 22px;
}

footer {
	font-family: "DejaVuSansMono";
	font-size: 16px;
	letter-spacing: 0px;
	padding-bottom: 10px;
}
