#content {
	width: 780px
}
#nav {
	width: 100%;
	float: right;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background-color: #dcdcdc;
	opacity: .9;
	border-bottom: 0px solid #ccc; 
	border-top: 0px solid #ccc;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #c90000;
	border-right: 1px solid #ccc;
}

#nav li a:hover {
	color: #e50000;
	background-color: #bfbfbf;
}
