@font-face {
	font-family: "DejaVuMono";
	src: url('.../font/ttf/DejaVuSansMono.ttf');
} 

@font-face {
	font-family: "DejaVuSans";
	src: url('.../font/ttf/DejaVuSans.ttf');
} 

@font-face {
	font-family: "DejaVuSerif";
	src: url('.../font/ttf/DejaVuSerif.ttf');
} 

#main {
		font-family: "DejaVuMono";
}

.DejavuClass {
	font-family: "DejaVuMono", "DejaVuSans", "DejaVuSerif", Verdana, Arial, serif;
	letter-spacing: 2px;
}

header {
    background-color:"#2E2E2E";
    display: block;
}
h1 {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

h2 {
	font-family: Verdana, Arial, serif;
}

h3 {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

h4 {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

h5 {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

h6 {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

body {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}

p {
	font-family: "DejaVuMono", "DejaVuSerif", Verdana, Arial, serif;
}