@font-face { font-family: DejaVuMono; src: url('#font/ttf/DejaVuSansMono.ttf'); } 
@font-face { font-family: DejaVuSans; src: url('#font/ttf/DejaVuSans.ttf'); } 
@font-face { font-family: DejaVuSerif; src: url('#font/ttf/DejaVuSerif.ttf'); } 
h1 {font-family: DejavuMono, DejaVuSerif;}
h2 {font-family: DejavuMono, DejaVuSerif;}
h3 {font-family: DejavuMono, DejaVuSerif;}
h4 {font-family: DejavuMono, DejaVuSerif;}
h5 {font-family: DejavuMono, DejaVuSerif;}
h6 {font-family: DejavuMono, DejaVuSerif;}
body {font-family: Verdana, serif;}
p {font-family: Tahoma, serif;}