html {
    font-size: 13px;
    text-size-adjust: 80%;
}
body {
    width: 600px;
}
section {
  padding-left: 10px;
}
p {
    font-family: monospace;
}
ul{
    font-family: monospace;
    padding: 0px 0px 10px 10px;
}
li{
    padding: 10px 0px 0px 0px;
}
footer {
    padding: 20px 50px 50px 50px;
    font-family: monospace;
}
#list{
    padding-left: 20px;
}
#date{
    font-style: italic;
    padding: 15px 0px 0px 50px;
}
#underline {
  text-decoration: underline;
}
